In [84]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

import sklearn

dataset = pd.read_csv('C:/Users/Administrator/Desktop/PYTHON CRASH COURSE/HeightWeight.csv')
dataset.head()

      Height      Weight  Age
0  73.847017  241.893563   45
1  68.781904  162.310473   65
2        NaN         NaN   33
3  74.110105  212.740856   56
4  71.730978  220.042470   55

In [54]:
dataset.describe()

          Height      Weight        Age
count   9.000000    9.000000  10.000000
mean   70.467670  209.627211  46.200000
std     4.587761   99.761825  11.153475
min    60.000000  100.000000  33.000000
25%    68.781904  162.310473  36.250000
50%    71.730978  212.740856  45.000000
75%    73.847017  241.893563  55.000000
max    74.110105  435.453500  65.000000

In [56]:
data_frame = pd.DataFrame(dataset)
print(data_frame)

      Height      Weight  Age
0  73.847017  241.893563   45
1  68.781904  162.310473   65
2        NaN         NaN   33
3  74.110105  212.740856   56
4  71.730978  220.042470   55
5  73.847017  241.893563   55
6  68.781904  162.310473   33
7  74.110105  435.453500   45
8  60.000000  100.000000   35
9  69.000000  110.000000   40

In [57]:
print("Mean values for each column",data_frame.mean(0))

Mean values for each column Height     70.467670
Weight    209.627211
Age        46.200000
dtype: float64

In [58]:
print('Last five columns',data_frame.tail())

Last five columns       Height      Weight  Age
5  73.847017  241.893563   55
6  68.781904  162.310473   33
7  74.110105  435.453500   45
8  60.000000  100.000000   35
9  69.000000  110.000000   40

In [59]:
print(data_frame.shape)

(10, 3)

In [60]:
print(data_frame['Height'])

0    73.847017
1    68.781904
2          NaN
3    74.110105
4    71.730978
5    73.847017
6    68.781904
7    74.110105
8    60.000000
9    69.000000
Name: Height, dtype: float64

In [61]:
print(data_frame.mean(1))

0    120.246860
1     98.697459
2     33.000000
3    114.283654
4    115.591150
5    123.580193
6     88.030792
7    184.854535
8     65.000000
9     73.000000
dtype: float64

In [62]:
print(data_frame.isnull().sum())

Height    1
Weight    1
Age       0
dtype: int64

In [26]:
# Normalization Process

In [73]:

#data_frame.Height = data_frame.fillna(data_frame.Height.mean())
#print(data_frame)

data_frame = data_frame.dropna()
print(data_frame)

      Height      Weight  Age
0  73.847017  241.893563   45
1  68.781904  162.310473   65
3  74.110105  212.740856   56
4  71.730978  220.042470   55
5  73.847017  241.893563   55
6  68.781904  162.310473   33
7  74.110105  435.453500   45
8  60.000000  100.000000   35
9  69.000000  110.000000   40

In [75]:
reset_data = data_frame.reset_index(drop=True)
print(reset_data)

      Height      Weight  Age
0  73.847017  241.893563   45
1  68.781904  162.310473   65
2  74.110105  212.740856   56
3  71.730978  220.042470   55
4  73.847017  241.893563   55
5  68.781904  162.310473   33
6  74.110105  435.453500   45
7  60.000000  100.000000   35
8  69.000000  110.000000   40

In [76]:
print(reset_data.duplicated(keep=False))

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [77]:
print(data_frame.duplicated(keep=False))

0    False
1    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [79]:
print(data_frame[data_frame.duplicated(keep=False)])

Empty DataFrame
Columns: [Height, Weight, Age]
Index: []

In [86]:
#Correlation function
corr = data_frame.corr()
print(corr)

          Height    Weight       Age
Height  1.000000  0.687819  0.468568
Weight  0.687819  1.000000  0.195300
Age     0.468568  0.195300  1.000000

In [92]:
print(data_frame.corr().abs().nlargest(3,'Weight').index)

Index(['Weight', 'Height', 'Age'], dtype='object')